body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  background-color: #FFD770;
  font-family: 'Comfortaa', cursive;
  position: relative; 
}

.selector-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.selectors {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px; 
  width: 99%;
  justify-content: center;
  align-items: start;
  padding: 10px; 
}

.selectors-left, .selectors-right {
  display: flex;
  flex-direction: column;
  align-items: center; 
  border: 2px solid #2978A0; 
  padding: 20px; 
  width: 80%; 
  margin: 0 auto; 
}

.selector-container {
  width: 100%; 
  justify-content: center; 
  display: flex;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

#icon1, #icon2 {
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: 60px; /* Adjust width as needed */
  height: 60px;
}

#speedIcons {
  display: flex;
  justify-content: center;
  margin: 30px;
  gap: 30px;
}

.tooltip {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 12px;
  pointer-events: none;
  opacity: 0;
}

h1 {
  text-decoration: underline;
  margin-top: 20px; 
}

label {
  margin-top: 8px;
  margin-right: 10px;
  font-weight: bold;
  color: #333; 
}

select {
  padding: 8px;
  border: 1px solid #ccc; 
  border-radius: 4px;
  background-color: #f5f5f5; 
  color: #333;
}

#result {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  font-size: 18px;
  color: #0853b6; 
}
